
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 5, 27);
    color: white;
}

nav {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgb(13, 13, 65);
    justify-content: space-around;
    align-items: center;
}

.left {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 22px;
}

.right ul {
    display: flex;
    justify-content: center;
}

.right ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    list-style: none;
    margin: 0.7rem;
}

.right ul li a {
    color: white;
    text-decoration: none;
}

.right ul li a:hover {
    color: rgb(216, 216, 218);
    font-size: 1.02rem;
    text-shadow: 0px 0px 20px white;
}

.down img {
    rotate: 270deg;
    border-radius: 25px;
    position: relative;
    left: 100px;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 0rem;
}

.leftsection {
    width: 30%;
    margin-top: 5rem;
}

.leftsection img {
    height: 25rem;
}

.rightsection {
    font-size: 5rem;
    width: 35%;
    margin: 6rem 0;
    font-weight: bold;
}

.rightsection span {
    display: block;
    font-size: 3rem;
    font-weight: normal;
}


#name {
    display: inline;
    font-weight: bold;
    color: blueviolet;
}

.logo {
    margin: 0rem;
}

.logo img {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 2rem;
}

.logo img:hover {
    box-shadow: 0 0 30px fuchsia;
}

.first {
    display: flex;
    justify-content: space-around;
    margin: 4rem 0;
}

.leftside {
    font-size: 2rem;
}

#about {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    font-family: "Poetsen One", sans-serif;
    font-size: 3rem;
}

.leftside span {
    display: block;
}

.rightside img {
    border-radius: 15rem;
    height: 25rem;
    width: 25rem;
    margin-top: 4rem;
    box-shadow: 0 0 50px aqua;
    transition-duration: 0.5s;
}

.rightside img:hover {
    box-shadow: 0 0 50px rgb(137, 81, 174);
}

.leftside button {
    margin: 20px 0;
    color: white;
    border: none;
    background-color: rgb(135, 135, 194);
    box-shadow: 0 0 10px rgb(15, 163, 242);
    border-radius: 4rem;
    height: 3rem;
    width: 10rem;
}

.leftside button:active {
    height: 3.1rem;
    width: 10.1rem;
}

#practices {
    display: flex;
    margin-top: 7rem;
    font-size: 4rem;
    font-family: "Poetsen One", sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.second {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 30px 0;
}

.pract {
    display: flex;
    padding: 50px 150px;
    height: 10rem;
    width: auto;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    position: relative;
    overflow: hidden;
}

#pract1 {
    background-image: url(bird.jpg);
    background-size: cover;
}

#pract2 {
    background-image: url(car.jpg);
    background-size: cover;
}

.pract a {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    z-index: 1;
}
.pract a:active{
    color: blueviolet;
}
.pract::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(103, 184, 227);
    border-radius: 30px;
    opacity: 0.5;
    transition: top 0.5s ease-in-out;
    z-index: 0;
}

.pract:hover::before {
    top: 30%;
}
.bl {
    display: flex;
    align-items: center;
    margin: 3rem 4rem;
    font-size: 4rem;
    font-family: "Poetsen One", sans-serif;
    color: white;
    text-shadow: 0 0 20px white;
}

.third {
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 30px 0 30px 50px;
}

.blog {
    margin: 2rem 0;
    padding: 20px;
    height: 20rem;
    max-width: 90%;
    font-size: 1.7rem;
    text-align: justify;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    transition-duration: 0.5s;
}

.blog:hover {
    transform: scale(1.08);
}

.blog span {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(31, 217, 223);
    font-family: fantasy;
}

.blog a {
    text-decoration: none;
}

.blog button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 40%;
    font-size: 1.5rem;
    height: 3rem;
    width: 10rem;
    background-color: rgb(1, 157, 254);
    box-shadow: 0 0 20px rgb(1, 157, 254);
    border: none;
    color: white;
    font-family: "Poetsen One", sans-serif;
    border-radius: 20px;
}

#butt2 {
    margin: 30px 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#butt3 {
    margin: 30px 0 0 40%;
    justify-content: center;
    align-items: center;
}

#blog1 {
    position: relative;
}

#blog1::before {
    content: '';
    background-image: url('5g.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    z-index: -1;
}

#blog2 {
    position: relative;
}

#blog2::before {
    content: '';
    background-image: url('security.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    z-index: -1;
}

#blog3 {
    position: relative;
}

#blog3::before {
    content: '';
    background-image: url('mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    z-index: -1;
}

#contact {
    position: absolute;
    left: 17%;
}

.fourth {

    text-align: center;
}

.fourth h2 {
    font-size: 4rem;
    font-family: "Bree Serif", serif;
    font: bold;
}

.heading span {
    color: rgb(1, 157, 254);
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-box input {
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    color: white;
    height: 2.5rem;
    width: 25.5rem;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(38, 40, 64);
    box-shadow: 0 0 5px rgb(52, 177, 244);
    border: none;
}

form textarea {
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    height: 15.5rem;
    width: 51rem;
    border-radius: 10px;
    background-color: rgb(38, 40, 64);
    box-shadow: 0 0 5px rgb(52, 177, 244);
    border: none;
}

textarea::placeholder {
    padding: 10px;
}

.btn {
    margin-top: 10px;
    border: none;
    height: 3rem;
    width: 12rem;
    border-radius: 10px;
    background-color: rgb(1, 157, 254);
    box-shadow: 0 0 20px rgb(1, 157, 254);
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 99, 100);
    position: relative;
    z-index: 1;
    top: 35rem;
    height: 2rem;
    padding: 20px;
    margin-top: 50px;

}

.media {
    display: flex;
}

.media img {
    padding: 10px;
    height: 40px;
    width: 40px;
}

.part3 img {
    border-radius: 25px;
    rotate: 90deg;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
}

.title span {
    color: aqua;
}

.five {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.skills {
    width: 600px;
    height: 450px;
    padding: 50px 200px;
    margin-left: 120px;
}

.heading {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
    margin: 20px 0;
}

.technical-bar .bar .info {
    margin-bottom: 5px;
}

.technical-bar .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bar .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: white;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.technical-bar .bar .progress-line span {
    height: 100%;
    background-color: rgb(43, 214, 226);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: center;
}

.progress-line.html span {
    width: 95%;
}

.progress-line.css span {
    width: 85%;
}

.progress-line.javascript span {
    width: 65%;
}

.progress-line.java span {
    width: 70%;
}

.progress-line span::after {
    position: absolute;
}

.progress-line span::after {
    content: attr(data-content);
    position: absolute;
    top: -30px;
    left: 100%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
}

@keyframes showtext {
    to {
        opacity: 1;
    }
}